# Byte-compiled / optimized / package files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Distribution / packaging
*.egg-info/
dist/
build/

# Logs and databases
*.log
*.sqlite3

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings (if using VS Code)
.vscode/

# PyCharm settings (if using PyCharm)
.idea/

# MacOS system files
.DS_Store

# Coverage reports
htmlcov/
.coverage

node_modules/
